*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body{
    background-color: rgb(161, 198, 233);
}

.container{
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px 2%;
    border-radius: 10px;
    background-color: #ffffff;
}

.container h2{
    font-size: 48px;
    text-align: center;
    color: #fbcb1c;
}

input[type=text]{
    display: flex;
    width: 300px;
    height: 30px;
    margin: 50px auto;
    padding-left: 10px;
    border: 1px solid #fbcb1c;
    border-radius: 5px;
}

.poke-boxes{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.poke-box{
    width: 29%;
    margin: 20px 2%;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    box-shadow: 8px 8px rgb(187, 187, 187);
}

.poke-box img{
    width: 100%;
}

.poke-box h3{
    padding: 5px 0px;
    text-align: center;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .poke-box{
        width: 100%;
        text-align: center;
    }

    .poke-box img{
        max-width: 300px;
    }
}